@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

aside, nav, footer, header, section {
  display: block;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;
  width: 100%;
  color: #131313;
}

body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body.lock {
  overflow: hidden;
}

@media (max-width: 767.98px) {
  body.lock {
    width: 100%;
    position: fixed;
    overflow: hidden;
  }
}

input, button, textarea {
  font-family: "Inter", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

[class*="__container"] {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

@media (max-width: 1212px) {
  [class*="__container"] {
    max-width: 970px;
  }
}

@media (max-width: 992.98px) {
  [class*="__container"] {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  [class*="__container"] {
    max-width: none;
    padding: 0 10px;
  }
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__inner .header__right .header__menu {
  margin-right: 70px;
}

.header__inner .header__right .header__menu .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__inner .header__right .header__menu .menu__list .menu__item {
  padding-left: 10px;
}

.header__inner .header__right .header__menu .menu__list .menu__item {
  padding-left: 10px;
}

.header__inner .header__right .header__menu .menu__list .menu__item .menu__link {
  text-transform: uppercase;
  padding: 43px 20px;
}

.header__inner .header__right .header__menu .menu__list .menu__item .menu__link:hover {
  background-color: #131313;
  color: #ffffff;
  height: inherit;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.bike {
  padding: 100px 0 150px 0;
}

.bike .bike__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bike .bike__inner .bike__column-text .bike__title {
  font-size: 64px;
  font-weight: 700;
  line-height: 77px;
  margin: 72px 0 5px 0;
}

.bike .bike__inner .bike__column-text .bike__subtitle {
  font-size: 32px;
  font-weight: 400;
  line-height: 39px;
  margin-bottom: 60px;
  color: #6F6F6F;
}

.bike .bike__inner .bike__column-text .bike__text {
  max-width: 420px;
  margin-bottom: 20px;
}

.bike .bike__inner .bike__column-text .bike__link .link-container {
  margin-top: 80px;
  max-width: 420px;
  padding: 40px 0;
  background-color: #131313;
}

.bike .bike__inner .bike__column-text .bike__link .link-container .link-container__center {
  display: table;
  margin: 0 auto;
}

.bike .bike__inner .bike__column-text .bike__link .link-container .link-container__center .bike__link-text {
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.1em;
  margin-right: -1.1em;
  text-align: right;
}

.bike .bike__inner .bike__column-text .bike__link .link-container:hover {
  background-color: #FF4040;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.bike .bike__inner .bike__column-slider {
  -ms-flex-preferred-size: 630px;
      flex-basis: 630px;
  margin-left: 30px;
  max-width: 630px;
}

.bike .bike__inner .bike__column-slider .slick-dots {
  position: absolute;
  top: 52px;
  right: 0;
}

.bike .bike__inner .bike__column-slider .slick-dots li {
  margin-bottom: 10px;
}

.bike .bike__inner .bike__column-slider .slick-dots li button {
  font-size: 0;
  background-color: #131313;
  width: 2px;
  height: 25px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.bike .bike__inner .bike__column-slider .slick-dots li button:hover {
  background-color: #FF4040;
}

.bike .bike__inner .bike__column-slider .slick-dots .slick-active button {
  background-color: #FF4040;
}

.bike .bike__inner .bike__column-slider .bike__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 170px 1fr;
      grid-template-columns: 1fr 1fr 170px 1fr;
  margin-top: 25px;
}

.bike .bike__inner .bike__column-slider .bike__list .bike__list-item {
  text-align: center;
  display: -ms-grid;
  display: grid;
}

.bike .bike__inner .bike__column-slider .bike__list .bike__list-item .bike__item-title {
  font-weight: 700;
  text-transform: uppercase;
}

.bike .bike__inner .bike__column-slider .bike__list .bike__list-item .bike__item-text {
  font-size: 12px;
  margin-top: 5px;
  line-height: 15px;
}

.info {
  padding-bottom: 150px;
}

.info .info__inner {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.info .info__inner .info__img {
  -ms-flex-preferred-size: 570px;
      flex-basis: 570px;
}

.info .info__inner .info__list {
  margin-left: 60px;
}

.info .info__inner .info__list .info__item {
  padding-bottom: 50px;
}

.info .info__inner .info__list .info__item .info__title {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.info .info__inner .info__list .info__item .info__text {
  max-width: 450px;
  margin-top: 12px;
  line-height: 17px;
}

.info .info__inner .info__list .info__item:last-of-type {
  padding-bottom: 0;
}

.characteristics {
  padding-bottom: 150px;
}

.characteristics .characteristics__title {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.characteristics .characteristics__inner {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.characteristics .characteristics__inner .characteristics__items {
  -ms-flex-preferred-size: 570px;
      flex-basis: 570px;
  margin-right: 60px;
  line-height: 17px;
}

.characteristics .characteristics__inner .characteristics__items .characteristics__list {
  margin-bottom: 30px;
}

.characteristics .characteristics__inner .characteristics__items .characteristics__list .characteristics__list-title {
  font-weight: 700;
  color: #ffffff;
  background-color: #131313;
  text-transform: uppercase;
  padding: 3px 0 3px 0;
  margin-bottom: 10px;
}

.characteristics .characteristics__inner .characteristics__items .characteristics__list .characteristics__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
}

.characteristics .characteristics__inner .characteristics__items .characteristics__list .characteristics__line .characteristics__name {
  padding-right: 10px;
  -ms-flex-preferred-size: 285px;
      flex-basis: 285px;
}

.characteristics .characteristics__inner .characteristics__items .characteristics__list .characteristics__line .characteristics__descr {
  -ms-flex-preferred-size: 285px;
      flex-basis: 285px;
}

.characteristics .characteristics__inner .characteristics__items .characteristics__list:last-of-type {
  margin-bottom: 0;
}
/*# sourceMappingURL=style.css.map */